.w{
	width: 935px;
}
.main{
	height: 100%;
	padding-top: 20px;
	user-select: none;
}
.inbox-ui{
	/* height: 100%; */
	/* width: 100%; */
	/* max-width: 935px; */
	/* width: 935px; */
	height: 522px;
	background-color: #FFFFFF;
}
.input_box{
	width: 389px;
}
.box-head{
	position: relative;
	width: 349px;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #DBDBDB;
}
.box-head>img{
	position: absolute;
	top: 50%;
	right: 20px;
	width: 23px;
	height: 23px;
	transform: translateY(-50%);
	cursor: pointer;
}
.message_list{
	height: 460px;
	overflow: auto;
}
.message_list>ul>li:hover{
	background-color: #dbdbdb;
	/* width: 349px; */
	/* padding-top: 8px; */
}
.message_list>ul>li{
	/* margin-bottom: 8px; */
	padding: 8px 16px;
	/* border-bottom: 1px solid #DBDBDB; */
}
.message-sender-portrait>img{
	width: 56px;
	height: 56px;
	border-radius: 50%;
}
.message-sender-preview{
	padding-left: 12px;
	overflow: hidden;
	/* height: 56px; */
	padding-top: 10px;
	width: 280px;
}
.message-sender-preview>p:nth-child(1){
	font-size: 14px;
	font-weight: 600;
	color: #262626;
}
.message-sender-preview>p:nth-child(2){
	font-size: 12px;
	color: #8E8E8E;
	height: 16px;
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis;
	overflow:hidden;
}
.message_preview{
	width: 545px;
	height: 520px;
	border-left: 1px solid #DBDBDB;
}
.current_message{
	background-color: #dbdbdb;
}
.message_header{
	position: relative;
	/* width: 349px; */
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #DBDBDB;
}
.message_header>span{
	position: absolute;
	top: 50%;
	right: 20px;
	/* width: 23px; */
	/* height: 23px; */
	transform: translateY(-50%);
	cursor: pointer;
}
.message_header>span:hover{
	font-weight: 600;
}

.message_hello{
	background-color: #FAFAFA;
	height: 330px;
	overflow-y: auto;
	overflow-x: hidden;
}
.message_hello>ul>.fl>.user_chat_preview{
	/* background-color: #00376B; */
}
.message_hello>ul>.fr>.user_chat_preview{
	/* background-color: #0000FF; */
}
.user_chat_group{
	width: 100%;
	padding: 20px;
}

.user_chat_portrait>img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user_chat_preview{
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 12px;
	padding: 10px 0px;
	/* width: 400px; */
	max-width: 350px;
	border-radius: 5px;
	user-select: all;
}
.user_chat_preview{
	background-color: #fff;
}
.user_chat_preview>p{
	padding: 0px 10px;
}

/* 输入框 */
.post-comment{
	border-top: 1px solid #EFEFEF;
	/* margin-top: 4px; */
	position: relative;
	height: 130px;
}
.comment-text{
	padding: 0 16px;
	margin-top: 18px;
}
.comment-form{
	/* width: 582px; */
	/* height: 18px; */
}
.add-comment{
	width: 480px;
	height: 100px;
	color: #262626;
	line-height: 18px;
	font-size: inherit;
	font-weight: 400;
	border: 0px solid #FFFFFF;
	outline: 0px solid rgba(0,0,0,0);
	resize: none;
	vertical-align:middle;
}
.post{
	width: 28px;
	height: 18px;
	opacity: 0.3;
	border: 0;
	color: #0095f6;
	display: inline;
	padding: 0;
	position: relative;
	font: 400 13.3333px Arial;
	background: 0 0;
}